.body-container {
    height: 100%;
    background-color: #d9d4d4;
}

a:hover, a:focus {
    text-decoration: none;
}

.row-flex {
    display: flex;
    flex-direction: column;
}

    .row-flex::after {
        content: "";
        display: table;
        clear: both;
    }

.left-nav-bar {
    height: 100%;
    min-width: 50px;
    max-width: 10%;
    position: fixed;
    left: 0;
    z-index: 10;
    background-color: #497edf;
}

.icon-section img {
    cursor: pointer;
    margin: auto;
    height: 100%;
    width: 100%;
    min-width: 35px;
}

.icon-section div {
    margin-bottom: 10px;
    text-align: center;
}

.post-section {
    margin-left: 9%;

}

.post-container {
    background-color:#e5d87a;
    margin-top: 15px;
    border: solid 2px grey;
    border-radius: 10px;
}

.img-group {
    padding: 20px;
}

    .img-group img {
        max-width: 350px;
        max-height: 450px;
    }

.img-container {
    text-align: center;
}

.next, .prev {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: #526272;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    z-index: 10;
}

    .prev:hover, .next:hover {
        background-color: rgba(0,0,0,0.8);
    }

.next {
    right: 10px;
    border-radius: 3px 0 0 3px;
}
.prev {
    left: 10px;
    border-radius: 0 3px 3px 0;
}


.detail-group {
    padding: 20px;
}
#image {
   border: 3px solid rgba(0,0,0, 0.4);
   border-radius: 5px;
}
.all-content {
    background-color: rgba(219, 148, 194, 0.3);
    padding: 20px;
    border-radius: 5px;
    border: 3px solid rgba(239, 239, 239, 0.7);
}
.content-1{
    text-align: center;
}
.content-2{
    text-align: justify;
    text-indent: 20px;
}
.content-3, .content-4{
    text-indent: 30px;
}
.all-content p, .all-content h3, .all-content h4 {
    filter: contrast(80%);
}

.navbar-inverse {
    background-color: #3f2e45;
}