@model TroyHack.Models.ViewModel.PostViewModel
@{
    ViewBag.Title = "Home4Pet";
}

<style>
    .body-container {
        margin: 15px;
        height: 100%;
        background-color: #d9d4d4;
    }

    .col-flex {
        display: flex;
    }

        .col-flex::after {
            content: "";
            display: table;
            clear: both;
        }

    .row-flex {
        display: flex;
        flex-direction: column;
    }

        .row-flex::after {
            content: "";
            display: table;
            clear: both;
        }

    .left-nav-bar {
        height: 100%;
        background-color: cornflowerblue;
    }

    .main-img-group {
        padding: 20px;
    }

        .main-img-group img {
            width: 100%;
            height: 100%;
        }

    .detail-group {
        padding: 20px;
    }
</style>

<div class="body-container container-fluid">
    <div class="row" style="height:100%;">
        <div class="left-nav-bar col-sm-1">
        </div>

        <div class="post-area col-sm-10">
            <div class="post-container row">
                <div class="main-img-group col-sm-8">
                    <div class="img-container">
                        <img src="~/Content/img/cat.jpg" />
                    </div>
                </div>

                <div class="detail-group col-md-4">
                    <div class="row-flex">
                        <div class="first-cell">
                            <p>Emergency</p>
                        </div>
                        <div class="second-cell">
                            <p>Story</p>
                        </div>
                        <div class="third-cell">
                            <p>Detailed info</p>
                        </div>
                        <div class="fourth-cell">
                            <p>Characteristic</p>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>

</div>